@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using MyCheeseShop.Model
@using MyCheeseShop.Context
@using MyCheeseShop.Components
@inject ProtectedSessionStorage ProtectedSessionStore
@inject ShoppingCart ShoppingCart
@inject CheeseProvider CheeseProvider


<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        <div class="col" style="max-width: 25%;">
            <div class="card h-100">
                <img src="/img/cheeses/@Cheese.ImageUrl" class="card-img-top p-1" alt="@Cheese.Name" onerror="this.onerror = null; this.src='/img/no_cheese.png'">
                <div class="card-body">
                    <h5 class="card-title">@Cheese.Name</h5>
                    <p class="card-text">Type: <span class="badge bg-primary">@Cheese.Type</span></p>
                    <p class="card-text">Strength: <span class="badge bg-success">@Cheese.Strength</span></p>
                    <p class="card-text">Price: <span class="badge bg-danger">@Cheese.Price.ToString("C")</span></p>
                    <p class="card-text">@Cheese.Description</p>

                    <EditForm Model="@quantity" OnSubmit="@AddToCart">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="quantitySelect">Quantity:</label>
                            <select class="form-select" id="quantitySelect" @bind="@quantity">
                                @for (var i = 1; i <= 5; i++)
                                {
                                    <option value="@i">@($"{i * 100}g")</option>
                                }
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">
                            Add to Cart
                        </button>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>



@code {
    [Parameter]
    public Cheese Cheese { get; set; }

    private int quantity = 1;

    public async Task AddToCart()
    {
        ShoppingCart.AddItem(Cheese, quantity);
        await ProtectedSessionStore.SetAsync("cart", ShoppingCart.GetItems());
    }
}